body{
	background-color: #000a1a;
	font-size: 16px;
}

h1, h2{
	color:#3385ff;
}

form{
	background-color: #3385ff;
	color: #000a1a;
	font-weight: bolder;
}

svg{
	fill: withe;
	stroke: withe;
}

.tabla{
	border: 2px solid #3385ff;
}

.tabla tr th{ 
	background-color: #000a1a;
	color: #3385ff;
 }

 .tabla tr td{
 	color: #000a1a;
 	font-weight: bold;
 }

.bi-trash{
	fill: #e60000; 
	width: 1.5rem; 
	height: 1.5rem;
	cursor: pointer;
}

.bi-trash:hover{
	width: 1.6rem; 
	height: 1.6rem;
}

.bi-pencil-square{
	fill: #3385ff; 
	width: 1.3rem; 
	height: 1.3rem;
	cursor: pointer;
}

.bi-pencil-square:hover{
	width: 1.4rem; 
	height: 1.4rem;
}

.encabezado{
	min-height: 5rem;	
}

.inputForm{
	border: 2px solid #000a1a;
}

.botonFormulario{
	border: 2px solid #000a1a;
} 

.botonFormulario:hover, .botonFormulario:focus{
	background-color: #000a1a;
	color:#3385ff;
}

.encabezadoAcordeon{
	background-color: #3385ff;
	color:#000a1a;
}

.colorDeLista{
	color:#000a1a;
}

.tarjeta{
	background-color: #66ff66;
	color: #006600;
	max-width: 18rem;
}

.mensajeDeError{
	color:#990000;
	-webkit-text-stroke: 0.1px #000a1a;
}

.cajaDeMensajeDeError{
	border: 2px solid #990000;
	background-color: #ffb3b3;
	min-height: 5rem;
}

.cajaDeMensajeDeError p{
	color: #990000;
}

.cajaDeMensajeDeExito{
	border: 2px solid #006600;
	background-color: #66ff66;
	min-height: 5rem;
}

.cajaDeMensajeDeExito p{
	color: #006600;
}