body{
	background-color: #000a1a;
	font-size: 16px;
}

h1, h2{
	color:#3385ff;
}

form{
	background-color: #3385ff;
	color: #000a1a;
	font-weight: bolder;
}

.tabla{
	border: 2px solid #3385ff;
}

.tabla tr th{ 
	background-color: #000a1a;
	color: #3385ff;
 }

 .tabla tr td{
 	color: #000a1a;
 }

.encabezado{
	min-height: 5rem;	
}

.inputForm{
	border: 2px solid #000a1a;
}

.botonFormulario{
	border: 2px solid #000a1a;
} 

.encabezadoAcordeon{
	background-color: #3385ff;
	color:#000a1a;
}

.colorDeLista{
	color:#000a1a;
}

.tarjeta{
	background-color: #66ff66;
	color: #006600;
}
